*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-grid{
    width: 100%;
    max-width: 100%;    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* HEADER */

.header {
    background-color: rgb(195, 197, 189);
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 3rem;
    border-bottom: 3px solid rgb(106, 106, 214);
    font-size: 15px;
}
  
.header__img {
    width: 60px;
}
  
header nav ul {
    display: flex;
    margin-left: 2rem;
    gap: 2rem;
    justify-content: space-between;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
  }

ul {
    list-style: none;
}

/* MAIN */

.main{
    background: linear-gradient(to top, blue, rgb(152, 152, 241) );
    grid-area: main;
    min-height: 100vh;
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

figure{
    width: 300px;
}

figure img{
    width: 100%;
}

.grid{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sect-pro{
    display: grid;
    grid-area: main;
    min-height: 100vh;
    background: linear-gradient(to right,rgb(18, 163, 163), rgb(19, 109, 109) ) ;
    padding-top: 2%;
    padding-bottom: 2%;
}
.Prod {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,3fr));
    grid-gap: 3rem;
    min-height: 100vh;
}
  
article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}

article img {
    order: -1;
    align-self: center;
}
  
article button {
    margin-top: auto;
    background: black;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

article button:hover{
    background: blue;
    color: black;
}

.img-pro{
    border: 5px solid gray;
    width: 200px;
    height: 200px;
    padding: 2px;
    margin: 80px;
  }
  
  .intro-section{
      background: linear-gradient(to right,rgb(18, 163, 163), rgb(19, 109, 109) ) ;
      min-height: 100vh;
      grid-area: main;
      padding-top: 2%;
      padding-bottom: 2%;
  }
  
/* FOOTER */

.footer {
    grid-area: footer;
    background-color: burlywood;
    padding-top: 1rem;
    
}
  
.footer-sm {
    background-color: bisque;
}
  
.footer-sm__icons {
    text-align: center;
    padding: 1.5rem 0;
}
  
.footer-bottom {
    padding: 1.5rem 0;
}
  
.face{
    width: 75px;
}
.insta{
    width: 75px;
}

.what-logo {
    position: fixed;
    right: 40px;
    bottom: 3px;
    float: left;
    margin-bottom: 30px;
    z-index: 40;
    perspective: 200px;
    animation: what-logo 2s linear infinite;
}

@keyframes what-logo {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
      transform: rotateX(180deg) rotateY(180deg);
    }
}

@media (min-width: 700px) {
    .container-grid{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        position: relative;
    }
    .nav__list {
        display: flex;
        margin: 1rem;
    }
    
    .nav__item {
        margin: 0 0 0 1rem;
    }
}

@media (min-width: 1320px) {
    .container-grid{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    nav ul li {
        flex-direction: column;
    } 
}